<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Java Web Framework POC</title>

    <!-- Bootstrap Core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <!-- Custom CSS -->
    <link href="../resources/css/logo-nav.css" rel="stylesheet"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Page Content -->

<div class="container">
    <div class="row">
        <div class="row" th:replace="fragments/example :: title">
            <div class="col-md-5">
                <h1>Example - Framework List</h1>
            </div>
        </div>
        <div class="col-md-3" th:include="fragments/example :: menu" th:with="active=3">
            <div class="list-group">
                <a href="index.html" class="list-group-item">Framework List</a>
                <a href="add.html" class="list-group-item">Add Framework</a>
                <a href="search.html" class="list-group-item active">Search</a>
            </div>
        </div>

        <div class="col-md-8" >
            <div class="well">
                <form action="#" th:action="@{/search}" method="get">
                    <label for="search" th:text="#{framework.search.title}">Framework Search</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" name="searchParam"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <table class="table table-hover" th:replace="fragments/example :: table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Docs</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Spring Web MVC</td>
                    <td>Web Layer</td>
                    <td>
                        <a href="http://docs.spring.io/spring/docs/current/spring-framework-reference/html/beans.html">
                            <i class="fa fa-arrow-right fa-2x"></i>
                        </a>
                    </td>
                    <td>
                        <a href="detail.html" title="Detail">
                            <i class="fa fa-folder-open fa-2x"></i>
                        </a>
                        <a href="#" title="Edit">
                            <i class="fa fa-edit fa-2x"></i>
                        </a>
                        <a href="#" title="Remove">
                            <i class="fa fa-remove fa-2x"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Spring beans</td>
                    <td>Service Layer</td>
                    <td>
                        <a href="http://docs.spring.io/spring/docs/current/spring-framework-reference/html/beans.html">
                            <i class="fa fa-arrow-right fa-2x"></i>
                        </a>
                    </td>
                    <td>
                        <a href="detail.html" title="Detail">
                            <i class="fa fa-folder-open fa-2x"></i>
                        </a>
                        <a href="#" title="Edit">
                            <i class="fa fa-edit fa-2x"></i>
                        </a>
                        <a href="#" title="Remove">
                            <i class="fa fa-remove fa-2x"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr/>
</div>
<!-- /.container -->

<th:block th:replace="fragments/head :: scripts">
    <!-- jQuery -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</th:block>>
</body>

</html>
